body{
    margin: 0 auto;
}
.menu {
    position: fixed;
    top:0;
    left:-900px;
    transition: left 0.5s;
    overflow:hidden;
}

.menu--active {
    left:0;
    width: 100%;
    height:6%;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 50%);
}
.menu--active::before{
    height: 60px;
    width: 60px;
}
.menu_words{
    display: inline-block;
    float: left;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    padding-left: 100px;
    margin-top: 10px;
    color: white;
}

.container {
    position: relative;
    max-width: 960px;
    margin-top: 100px;
}

.carousel {
    max-width: 50%;
    position: relative;
    margin: 0 auto;
}

.carousel li {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all .6s, z-index .2s;
    will-change: transform;
}

.carousel li img {
    width: 250px; height: 150px;
}

.left {
    transform: translateX(-60%) scale(.7);
}

.center {
    z-index: 10;
}

.right {
    transform: translateX(60%) scale(.7);
}

.carousel .first {
    z-index: -1
}

.paginator {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
}

.btn , .btn1{
    display: inline-block;
    width: 50px;
    height: 300px;
    position: absolute;
    top: 0;
    background-color: transparent;
    margin-left: 20px;
}
.btn{
    left: 0;
}
.btn1{
    right: 0;
}

#card1, #card2, #card3 {
    width: 500px;
    height: 300px;
    background: linear-gradient(rgb(255, 89, 150), rgb(255, 73, 117));
    border-radius: 30px;
    border: white solid 5px;
    box-shadow: 8px 8px 8px rgba(255, 89, 150, 0.2), -8px 8px 8px rgba(255, 89, 150, 0.2);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14pt;
    line-height: 116px;
    text-align: center;
    word-spacing: -7px;
}
.due-date{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    float: left;
    margin: 0 0 0 20px;
    opacity: 0.5;
    text-transform: uppercase;
    word-spacing: 7px;
}
.overlay , .overlay2, .overlay3{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

}

.popup {
    width: 100%;
    height: 68%;
    background: #fff linear-gradient(rgba(202, 157, 248, 0.3), transparent 15px);
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border-radius:10px;
    overflow:hidden;
    transition-duration: 0.5s;
}

.hidden {
    display: none;
}

.search.icon {
    color: #000;
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search.icon:before {
    content: '';
    position: absolute;
    top: 12px;
    left: 5px;
    height: 6px;
    width: 1px;
    background-color: currentColor;
}
.timeline{
    list-style-type: circle;
}
table.blueTable {
    width: 100%;
    text-align: left;
}
table.blueTable td, table.blueTable th {
    padding: 30px 2px;
}
table.blueTable thead {
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
}
table.blueTable tfoot td {
    font-size: 14px;
}
.container-chart {

    width: 80%;
    margin: 15px auto;
    font-size: 20px;
}

#myChart{
    font-size: 20px;
}